
modules = ["go-1.21:v2-20231201-3b22c78"]
run = "./place -port :8080"

[nix]
channel = "stable-23_05"

[gitHubImport]
requiredFiles = [".replit"]

[deployment]
run = ["sh", "-c", "./web/place"]
ignorePorts = false
deploymentTarget = "gce"
